
@{
    ViewData["Title"] = "設計師";
}

    <div class="row">
        <div class="col-sm-6">
            <img src="~/images/Self.jpg" class="img-thumbnail img-self" alt="Self"/>
        </div>
        <br />
        <div class="col-sm-6">
            <h2>翁士勛(Charle)</h2>
            <p>出生日期：1987/09/23</p>
            <address>
                電話：<br />
                <a href="tel:078410151">07-8410151</a><br />
                手機：<br />
                <a href="tel:0929307080">0929307080</a><br />
                地址：<br />
                <a href="https://www.google.com.tw/maps/place/高雄市前鎮區鎮昌街53巷5號" target="_blank">高雄市前鎮區鎮昌街53巷5號</a><br />
                E-Mail：<br />
                <a href="mailto:mikko5269@gmail.com">mikko5269@gmail.com</a><br />
            </address>
        </div>
    </div>



